<head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- <link rel="stylesheet" type="text/css" href="application.css"> -->
</head>
<html>
   <div class="roundcorners">
        <h1 class="title">PAX NATIONATICA</h1>
        <h3 class="historic">Nations Rising and Falling Every Day</h3>
        <h3 class="main">Pax</h3>
        <h4><strong>Pax</strong> is latin for Peace, but often times you'll see it used to describe a different term: hegemony.
          <br>
          <br>
            <strong>Nationatica</strong> is bastardized latin to mean Nation, a group of people who see themselves as a cohesive and coherent unit.
        </h4>
        <h4>
            Virtually every nation of people on eath has seen at least one Pax in it's history.
            A country considered a failed state today probably has at least one period of regional dominance with many
            significant contributions to world art and culture. And just as likely, that golden age ended to signal the rise of a new power, thus the
            cycle starting anew. It is good sometimes, to look to the past to see that what we consider world power is fleeting, and that the backwaters
            of one year have been, and might again become, the 800 pound gorilla of another.
        </h4>
        <br>
        <h4>Select a Region and/or a Time Period. Check back for periodic updates with new nations.</h4>
        <form action="/display" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <select name="continent_search">
                <%= @nations.select("DISTINCT(continent)").each do |c| %>
                    <option value="<%= c.continent %>"><%= c.continent %></option>
                <% end %>
            </select>
            <select name="timeperiod_search">
                <%= @nations.select("DISTINCT(timeperiod)").each do |t| %>
                    <option value="<%= t.timeperiod %>"><%= t.timeperiod %></option>
                <% end %>
            </select>
            <input type="submit" value="Submit">
        </form>
        <br>
        <h4>OR search from the current master list of nations....</h4>

        <% @nations.each do |nation| %>
            <h4><li><a href="/<%= nation.nation_name %>"><%= nation.nation_name %></a></li></h4>
        <% end %>
        <br>
        <br>
        <!-- <ul>
            <li><a href="/bhutan">Bhutan</a></li>
            <li><a href="/italy">Italy</a></li>
            <li><a href="/peru">Peru</a></li>
            <li><a href="/phillipines">Phillipines</a></li>
            <li><a href="/sudan">Sudan</a></li>
            <li><a href="/usa">The United States</a></li>
        </ul> -->
    </div>
    <h3 class="main">Welcome: <strong><%= @user.email %></strong></h3>

    <div>
        <h3 class="main">Comments</h3>
        <form action="/messages" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <textarea name="message[message]" class="message" cols="65" rows="3"></textarea>
            <br>
            <input type="submit" value="Post a Message">
        </form>

        <% @messages.each do |message| %>
            <hr>
            <h4 class="main"><%= "#{message.user.email} - #{message.created_at.strftime("%B #{message.created_at.day.ordinalize}, %Y")}" %></h4>
        	<p class="sub"><%= message.message %></p>
        <% end %>
   </div>
   <br>
   <form action="/logout" method="delete">
       <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
       <button type="submit" class="btn btn-default">Log Out</button>
   </form>
   <br>
   <br>
</html>
