<head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- <link rel="stylesheet" type="text/css" href="application.css"> -->
</head>
<html>
   <div>
        <h1 class="title">PAX NATIONATICA</h1>
        <h3 class="historic">Nations Rising and Falling Every Day</h3>
        <br>

        <select name="nation_id">
            <%= @nations.each do |nation| %>
                <<option value="<%= nation.id %>"></option>
            <% end %>
        </select>

        </div>

        <ul>
            <li><a href="/bhutan">Bhutan</a></li>
            <li><a href="/italy">Italy</a></li>
            <li><a href="/peru">Peru</a></li>
            <li><a href="/phillipines">Phillipines</a></li>
            <li><a href="/sudan">Sudan</a></li>
            <li><a href="/usa">The United States</a></li>
        </ul>

        <br>
        <h3 class="main">Welcome: <strong><%= @user.email %></strong></h3>
        <form action="/messages" method="post">
        	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        	<textarea name="message[message]" class="message" cols="65" rows="3"></textarea>
            <br>
            <input type="submit" value="Post a Message">
        </form>

        <% @messages.each do |message| %>
            <hr>
            <h4 class="main"><%= "#{message.user.email} - #{message.created_at.strftime("%B #{message.created_at.day.ordinalize}, %Y")}" %></h4>
        	<p class="sub"><%= message.message %></p>
        <% end %>
   </div>
</html>
