<h1 class="title"><%= @selected_nation.empire %>: <strong>Pax <%= @selected_nation.ica %></strong></h1>
<h2><span class='main'>Pax dates:</span> <%= @selected_nation.dates %></h2>
<br>
<h3 style="color:#7C2E00;"><u><strong>Summary</strong></u></h3>
<h4><%= @selected_nation.summary %></h4>
<br>

<div>
  <img src="<%= @selected_nation.image %>" style="height:55%; width:55%;"></img>
</div>

<br>
<h3 style="color:#7C2E00;"><u>Rise</u></h3>
<h4><%= @selected_nation.rise %></h4>
<br>
<h3 style="color:#7C2E00;"><u>Fall</u></h3>
<h4><%= @selected_nation.fall %></h4>
<br>
<h3 style="color:#7C2E00;"><u>Achievements</u></h3>
<h4><%= @selected_nation.achievements %></h4>
<br>
<br>
<br>
